@page "/SalesObject/REAgentSalesObjects"

@using System.Net.Http.Json
@using System.Text.Json
@using FribergHomezClient.Providers
@using FribergHomezClient.Services.Base
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient httpClient
@inject NavigationManager navMan
@inject IJSRuntime JSRuntime
@inject ApiAuthenticationStateProvider provider
@using System.Security.Claims
@inject ISaleObjectService saleObjectService
@using FribergHomezClient.Services.ModelService
@inject ILocalStorageService localStorage
@using Blazored.LocalStorage
@inject IRealEstateAgentService realEstateAgentService

<script>
    window.confirmDelete = function () {
        return confirm('Är du säker på att du vill ta bort detta objekt?');
    }
</script>

<h3 class="mb-4">Mina försäljningsobjekt</h3>

@if (CurrentUser != null)
{

    @if (MySalesObjectList != null)
    {
        <p class="mb-4">Inloggad mäklare: @MySalesObjectList.FirstOrDefault()?.RealEstateAgent.FirstName @MySalesObjectList.FirstOrDefault().RealEstateAgent.LastName</p>
    }
}
<div>
    <button class="btn btn-primary" @onclick="NavigateToAddSalesObjectPage">Lägg till nytt objekt</button>
</div>

@if (MySalesObjectList == null)
{
    <p class="text-danger mb-4">Inga försäljningsobject för inloggad mäklare.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Adress</th>
                    <th>Beskrivning</th>
                    <th>Utgångspris</th>
                    <th>Kategori</th>
                    <th>Kommun</th>
                    <th>Redigera</th>
                    <th>Ta bort</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in MySalesObjectList)
                {
                    <tr>
                        <td>
                            @if (item.IsActive == false)
                            {
                                <span class="badge bg-danger">Inaktiv</span>
                            }
                            else
                            {
                                <span class="badge bg-success">Aktiv</span>
                            }
                        </td>
                        <td>@item.Address</td>
                        <td style="max-width: 500px;">@item.Description</td>
                        <td>@item.StartingPrice.ToString("N0") kr</td>
                        <td>@item.Category.Name</td>
                        <td>@item.Municipality.Name</td>
                        <td><button class="btn btn-warning" @onclick="@(e => NavigateToEditSalesObject(item.Id))">Redigera</button></td>
                        <td><button class="btn btn-danger" @onclick="@(e => NavigateToDeleteSalesObject(item.Id))">Ta bort</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code
{
    //properties

    public List<SaleObject>? AllSalesObjectList { get; set; }
    public List<SaleObject>? MySalesObjectList { get; set; }
    private string CurrentUser;

    //methods
    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await localStorage.GetItemAsync<string>("userId");
        Response<List<SaleObject>> response = await saleObjectService.GetSaleObjectAsync();
        if (response.Success)
        {
            AllSalesObjectList = response.Data;
            MySalesObjectList = AllSalesObjectList.Where(h => h.RealEstateAgentId.ToString() == CurrentUser).ToList();
        }
        else
        {
            Console.WriteLine("User not authenticated.");
        }
    }


    private void NavigateToEditSalesObject(int id)
    {
        string previousPageUrl = "/SalesObject/REAgentSalesObjects";
        navMan.NavigateTo($"/SalesObject/EditSalesObject/{id}?previousPage={previousPageUrl}");
    }
    private async Task NavigateToDeleteSalesObject(int id)
    {
        if (await JSRuntime.InvokeAsync<bool>("confirmDelete"))
        {
            await httpClient.DeleteAsync($"/api/salesObject/{id}");
            await OnInitializedAsync();
        }
    }
    private void NavigateToAddSalesObjectPage()
    {
        navMan.NavigateTo("/SalesObject/AddSalesObject");
    }
    public static class CustomClaimTypes
    {
        public const string RealEstateAgentId = "RealEstateAgentId";
    }
}
