@page "/Firm/ListAllFirms"
@using FribergHomezClient.Models
@using System.Net.Http.Json
@using System.Text.Json
@inject HttpClient httpClient
@inject NavigationManager navMan
@inject IJSRuntime JSRuntime

<script>
    window.confirmDelete = function () {
        return confirm('Är du säker på att du vill ta bort detta objekt?');
    }
</script>

@*Henrik*@
<div class="container">
    <h3 class="mb-4">Alla Mäklarfirmor</h3>

    <div class="mb-3">
        <button class="btn btn-primary" @onclick="NavigateToAddNewFirmPage">Lägg till ny firma</button>
    </div>

    @if (Firms == null)
    {
        <p>Couldn't load firms.</p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Presentation</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Firms)
                    {
                        @if (item.IsActive)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td style="max-width: 700px;">@item.Presentation</td>
                                <td>
                                    <button class="btn btn-info" @onclick="@(e => NavigateToFirmDetails(item.Id))">Detaljer</button>
                                </td>
                                <td>
                                    <button class="btn btn-warning" @onclick="@(e => NavigateToEditFirm(item.Id))">Redigera</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" @onclick="@(e => NavigateToDeleteFirm(item.Id))">Ta bort</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@code {
    public List<Firm>? Firms;

    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetAsync("/api/firm");
        if (response.IsSuccessStatusCode)
        {
            Firms = await response.Content.ReadFromJsonAsync<List<Firm>>();
        }
    }
    private async Task NavigateToAddNewFirmPage()
    {
        navMan.NavigateTo("/Firm/AddFirm");
    }
    private void NavigateToFirmDetails(int id)
    {
        navMan.NavigateTo($"/Firm/FirmDetails/{id}");
    }
    private void NavigateToEditFirm(int id)
    {
        navMan.NavigateTo($"/Firm/EditFirm/{id}");
    }

    private async Task NavigateToDeleteFirm(int id)
    {
        if (await JSRuntime.InvokeAsync<bool>("confirmDelete"))
        {
            await httpClient.DeleteAsync($"/api/Firm/{id}");
            await OnInitializedAsync();
        }
    }
}
