@page "/Firm/ListAllFirms"
@* @using FribergHomezClient.Models *@
@using System.Net.Http.Json
@using System.Text.Json
@using FribergHomezClient.Services.ModelService
@using FribergHomezClient.Services.Base
@using Microsoft.AspNetCore.Components.Authorization

@inject HttpClient httpClient
@inject NavigationManager navMan
@inject IJSRuntime JSRuntime
@inject IFirmService firmService



<script>
    window.confirmDelete = function () {
        return confirm('Är du säker på att du vill ta bort detta objekt?');
    }
</script>

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView Roles="Administrator">
    <Authorized>
        <div class="container">
            <h1 class="display-4">Mäklarfirmor</h1>
            <br />
            <div class="mb-3">
                <button class="btn btn-primary" @onclick="NavigateToAddNewFirmPage">Lägg till ny firma</button>
            </div>

            @if (Firms == null)
            {
                <p>Couldn't load firms.</p>
            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Logotyp</th>
                                <th>Namn</th>
                                <th>Presentation</th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Firms)
                            {
                                @if (item.IsActive)
                                {

                                    <tr>
                                        <td> <img src="@(item.ImageLocation.StartsWith("http") ? item.ImageLocation : "/images/" + item.ImageLocation)" class="card-img" alt="@item.Name" style="width:220px;" /></td>
                                        <td>@item.Name</td>
                                        <td style="max-width: 700px;">@item.Presentation</td>
                                        <td>
                                            <button class="btn btn-info" @onclick="@(e => NavigateToFirmDetails(item.Id))">Detaljer</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-warning" @onclick="@(e => NavigateToEditFirm(item.Id))">Redigera</button>
                                        </td>
                                        <td style="width:100px;">
                                            <button class="btn btn-danger" @onclick="@(e => NavigateToDeleteFirm(item.Id))">Ta bort</button>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </Authorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

@code {

    //PROPERTIES
    public List<Firm> Firms { get; set; } = new List<Firm>();

    //METHODS
    protected override async Task OnInitializedAsync()
    {

        Response<List<Firm>> response = await firmService.GetFirmsAsync();

        Firms = response.Data;

    }

    //add new firm
    private async Task NavigateToAddNewFirmPage()
    {
        navMan.NavigateTo("/Firm/AddFirm");
    }
    //firm details
    private void NavigateToFirmDetails(int id)
    {
        navMan.NavigateTo($"/Firm/FirmDetails/{id}");
    }
    //update firm
    private void NavigateToEditFirm(int id)
    {
        navMan.NavigateTo($"/Firm/EditFirm/{id}");
    }
    //delete firm
    private async Task NavigateToDeleteFirm(int id)
    {

        if (await JSRuntime.InvokeAsync<bool>("confirmDelete"))
        {
            await firmService.DeleteFirmAsync(id);
            await OnInitializedAsync();
        }
    }
}
